{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Hello Word!{% endblock %}

{% block body %}

  <h1>Mon Blog</h1>
  <p>Ceci est la page d'accueil</p>

  
  <h1>{{ article.titre }}</h1>
  <p>{{ article.createdAt|date }}</p>
  <div>{{ article.contenu|raw }}</div>

  <p>Catégories :
      {% for categorie in article.categories %}
          {{ categorie.nom }}
      {% endfor %}
  </p>


{% endblock %}
